header{
	background-color: rgb(54, 195, 165);
	color:#fff;
	min-height: 100px;
	padding-top: 10px;
}

body{
	background-color: rgb(36, 39, 38);
	color: #FFFFFF
}

header form{
	float:right;
}

header .logo{
	float:left;
}

.panel {
	background-color: rgb(78, 78, 78) !important;
	border-color: rgb(36, 39, 38) !important;
}

.panel-heading{
		background-color: rgb(54, 195, 165) !important;
    color: #fff !important;
}

.bubble{
	position: relative;
	min-height: 65px;
	padding: 15px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #ccc;
}

.bubble:after{
	content:'';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #fff;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -15px;
	left:-15px;
	top: 50%;
}

.bubble:before{
	content:'';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #ccc;
	display: block;
	width: 0;
	z-index: 0;
	margin-top: -15px;
	left:-16px;
	top: 50%;
}

.post-actions{
	margin:5px;
}

.comment-form .form-group{
	width: 90%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: white;
}

.comment{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 3px;
	margin: 5px 0;
	overflow: auto;
	width:100%;
}

.comment-form input[type="text"]{
	width: 100%;
}

.comment-avatar img{
	width: 40px;
	margin-right: 5px;
}

.friends li{
	list-style: none;
	padding:0 5px;
	display:inline;
	float: left;
}

.friends img{
	width: 55px;
}

.groups img{
	width:80px;
	float:left;
	margin-right: 15px;
}

.group-item{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	overflow: auto;
}

.profile ul{
	margin-top: 30px;
}

.profile li{
	list-style: none;
	line-height: 1.9em;
}

.text-center {
	color: white !important;
}

.leaderuser {
	color: rgb(54, 195, 165);
}

.page-header {
	color: rgb(54, 195, 165);
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid rgb(54, 195, 165);
}

footer{
	height: 90px;
	color: rgb(54, 195, 165);
	font-weight: bold;
	text-align: center;
	padding-top: 35px;
	margin-top: 10px;
	background: rgb(36, 39, 38) !important;
	border-top: 2px solid rgb(54, 195, 165);
}

a {
	color: rgb(54, 195, 165) !important;
}

.btn-primary {
	color: rgb(54, 195, 165) !important;
	background-color: rgb(58, 58, 58) !important;
	border-color: rgb(58, 58, 58) !important;
}

.btn-primary:hover {
	background-color: rgb(43, 43, 43) !important;
	border-color: rgb(43, 43, 43) !important;
}

.members .member-row{
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.members img{
	margin-bottom: 5px;
}

@media(min-width: 991px){
  .members p{
	padding-top: 40px;
	}
}
